[submodule "_extensions/Cefar_ext1"]
	path = _extensions/Cefar_ext1
	url = git@github.com:johnsonp/ext1.git
	ignore = untracked
[submodule "magento"]
	path = magento
	url = git@github.com:johnsonp/mag.git
	ignore = untracked
